.header1 {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
}

.left-container {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.hamburger-icon {
  height: 24px;
  width: 28px;
  margin-right: 10px;
  margin-left: 7px;
  cursor: pointer;
}

.logo img {
  height: 40px;
  width: 135px;
}

.logo {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 0px;
}

.center-container {
  margin: 0px 40px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
}

.search-input {
  position: relative;
  align-items: center;
  border: 1px solid #ccc;
  padding: 2px 6px;
  width: 100%;
  max-width: 575px;
  height: 26px;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
  display: flex;
  flex-direction: row;
}

.search-input input {
  width: 57%;
  height: 24px;
  margin-left: 4px;
  padding: 1px 0px;
  font-family: 'Roboto','Noto',sans-serif;
}

.search-btn {
  height: 30px;
  width: 63px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  border-left: 0;
  background-color: #f8f8f8;
  border-radius: 0 2px 2px 0;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  height: 20px;
  width: 20px;
  color: #333;
  /* opacity: 0.6; */
}

.right-container {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
}

.add-video-icon {
  height: 24px;
  width: 24px;
  padding: 8px;
  margin: 0px 16px 0px 0px;
}

.sign-in {
  text-decoration: none;
  width: auto;
  height: 28px;
  width: 81.3px;
  padding: 5px 11px;
  background-color: white;
  color: #065fd4;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid #065fd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.user-btn {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
}

.sign-in span{
  font-size: 14px;
  margin: 0px 0px 0px 2px;
  height: 16px;
}

.signin-logo {
  height: 24px;
  width: 24px;
  margin-right: 0px;
}

.user-profile{
  display: block;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 300px;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 99;
  font-family: 'Roboto', Arial, sans-serif;
}

.user-info {
  padding: 16px;
  display: flex;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.username-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 2rem;
  color: #0d0d0d;
}

.email-text {
  color: blue;
}

.user-actions {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 36px 0px 16px;
  border-top: 1px solid lightgray;
}

.signout-icon, .github-icon, .linkedin-icon {
  height: 24px;
  widows: 24px;
}

.sign-out, .github-btn, .linkedin-btn {
  font-size: 16px;
  margin-left: 90px;
}

.user-actions:hover {
  background-color: rgb(235, 235, 235);;
}
