// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header1 {
  font-family: sans-serif;
}

.logo {
  height: 60px;
  width: 200px;
  margin: 10px;
}

.form{
  position: absolute;
  left: 35%;
  top: 20%;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
  height: 50%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form form {
  width: 80%;
}

.form form input {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 7px;
}

.form span{
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.form a{
  margin: 15px;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  color: blue;
}

.sign-in{
  position: absolute;
  text-decoration: none;
  width: auto;
  height: 16px;
  padding: 10px 16px;
  background-color: white;
  color: blue;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid blue;
  margin: 10px;
  top: 10px;
  right: 10px;
}

.login {
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: 1px #1a73e8;  
  border-radius: 5px;
  width: 70px;
  margin-top: 7px;
}

.demo {
  font-size: 12px;
  color: blue;
}