.form-actions {
  display: flex;
  justify-content: space-between;
}

.blue-button {
  padding: 10px;
  text-align: center;
  background: #1a73e8;
  color: white;
  border: 1px #1a73e8;  
  border-radius: 5px;
  width: 70px;
  margin-top: 7px;
}

.error-logo {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

.error-list {
  color: red;
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 13px;
}