.form-actions {
  display: flex;
  justify-content: space-between;
}

.blue-button {
  padding: 10px;
  text-align: center;
  background: #1a73e8;
  color: white;
  border: 1px #1a73e8;  
  border-radius: 5px;
  width: 70px;
  margin-top: 7px;
}