.signin-form{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  border: 1px solid #dadce0;
  padding: 48px 40px 36px;
  border-radius: 4px;
  height: 414px;
  width: 366px;
  font-family: roboto ,'Noto Sans Myanmar UI', arial, sans-serif;
}

.signin-form .form-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-form .logo{
  height: 25px;
  width: 90px;
  opacity: 0.8;
  margin: 0px;
}

.signin-form h4{
  font-size: 24px;
  font-weight: 400;
}

.signin-form p{
  padding: 8px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .1px;
  height: 25px;
}

.signin-container{
  width: 100%;
  padding: 24px 0px 0px;
  font-size: 14px;
  height: 273px;
}

.input-div{
  padding: 8px 0px 0px;
}

.signin-container input {
  width: 90%;
  height: 28px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  margin: 1px 1px 0px;
  padding: 13px 15px;
  font-size: 16px;
}

.demo {
  font-size: 14px;
  color: #1a73e8;
  font-weight: 550;
  letter-spacing: .25px;
  padding: 9px 0px 3px;
}

.signin-container p {
  font-size: 14px;
  line-height: 1.4286;
  margin-bottom: 7px;
}

.signin-container p{
  color: #5f6368;
  font-size: 14px;
  line-height: 1.4286;
  margin: 32px 0px 0px;
}

.note2 {
  color: #1a73e8;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note3{
  color: #1a73e8;
  font-weight: 500;
  margin: 0;
}

.demo2{
  font-size: 14px;
  color: #1a73e8;
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 20px;
}


/* login 2 page*/

.signin-container span {
  margin-bottom: 30px;
}

.demo3 {
  font-size: 14px;
  color: #1a73e8;
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 20px;
  margin-top: 10px;
}

.form-info{
  padding: 8px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .1px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signin-container ul li {
  color: red;
  margin-top: 7px;
}

