.header1 {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  padding: 0px 16px;
  height: 56px;
}

.header1 a:first-child{
  width: 150px;
  height: 50px;
}

.logo {
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

.sign-in {
  text-decoration: none;
  width: auto;
  height: 28px;
  width: 81.3px;
  padding: 5px 11px;
  background-color: white;
  color: #065fd4;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid #065fd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-btn {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.sign-in span{
  font-size: 14px;
  margin: 0px 0px 0px 2px;
  height: 16px;
}

.sign-out{
  display: block;
  position: absolute;
  top: 60px;
  right: 15px;
  padding: 5px 11px;
  border: 1px solid #065fd4;
  color: #065fd4;
}

.signin-logo {
  height: 24px;
  width: 24px;
  margin: 0px;
}