.signup-form{
  position: absolute;
  left: 35%;
  top: 20%;
  border: 1px solid lightgray;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 10px;
  border-radius: 4px;
  height: 525px;
  width: 400px;
  font-family: roboto ,'Noto Sans Myanmar UI', arial, sans-serif;
}

.signup-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form .logo{
  height: 45px;
  width: 150px;
  opacity: 0.8;
  margin: 0px;
}

.signup-form h4{
  font-size: 1.5em;
  font-weight: 510;
  margin-bottom: 25px;
}

.signup-form > p{
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 510;
}

.signup-container input {
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 25px;
}

.note {
  font-size: 12px;
  margin-bottom: 25px;
}

.blue-button2 {
  text-align: center;
  background: #1a73e8;
  color: white;
  border-radius: 5px;
  width: 70px;
  height: 40px;
}