.signup-form{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid lightgray;
  padding: 54px 40px 36px;
  border-radius: 4px;
  height: 525px;
  width: 400px;
  font-family: roboto ,'Noto Sans Myanmar UI', arial, sans-serif;
}

.signup-main-container {
  margin-left: 20px;
}

.signup-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-main-container .logo{
  height: 45px;
  width: 150px;
  opacity: 0.8;
  margin: 0px;
}

.signup-main-container h4{
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: 510;
  margin-bottom: 20px;
}

.signup-main-container > p{
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 510;
}

.signup-container input {
  width: 92%;
  height: 30px;
  padding: 2px 13px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 25px;
}

.signup-container input:focus {
  border: 2px solid #1a73e8;
}

.note {
  font-size: 12px;
  margin-bottom: 25px;
}

.blue-button2 {
  text-align: center;
  background: #1a73e8;
  color: white;
  border-radius: 5px;
  width: 70px;
  height: 40px;
}

.demo4{
  font-size: 14px;
  color: #1a73e8;
  font-weight: 550;
  letter-spacing: .25px;
  padding: 9px 0px 3px;
  margin-bottom: 20px;
}

