.main-container {
  height: 100%;
}

.video-container {
  height: 100%;
  margin-left: 72px;
  padding: 0px 20px;
  background-color: #F9F9F9;
  font-family: 'Roboto',sans-serif;
}

.video-container h1 {
  height: 24px;
  padding: 36px 0px 24px 8px;
  width: 100%;
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 500;
}

.video-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-video {
  margin: 0px 8px 40px 8px;
  flex: 1 1 19%;
  min-width: 23.5%;
  max-width: 23.5%;
  cursor: pointer;
}

.thumbnail-container {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.thumbnail{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.video-info {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  min-height: 74px;
}

.user-icon {
  height: 36px;
  width: 36px;
  margin-right: 12px;
  margin-top: 12px;
}

.video-text {
  padding-right: 24px;
  width: 100%;
  margin: 12px 0px 5px 0px;
}

.video-info-block{
  color: #606060;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.video-title {
  margin: 12px 0 5px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.video-author{
  color: #606060;
  line-height: 1.4;
}

