html, body, header, nav, h1, a, ul, li, strong, main, button, i, section,
img, div, h2, p, form, fieldset, label, input, textarea, span, article,
footer, time,small, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"], input[type="email"], input[type="text"],
input[type="submit"], textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button, input[type="submit"] {
  cursor: pointer;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.test{
  background-color: blue;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
} 