.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 75px;
  z-index: 2;
  background-color: white;
}

.sidebar-box {
  width: 72px;
  height: 45px;
  padding: 16px 0px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto','Noto',sans-serif;
  font-size: 10px;
  color: #606060;
}

.sidebar-logo{
  height: 18px;
  width: 18px;
  margin-bottom: 6px;
}

.home-span{
  color: #FC0A02;
}