.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 72px;
  z-index: 2;
  background-color: white;
}

.sidebar-box {
  width: 72px;
  height: 45px;
  padding: 16px 0px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto','Noto',sans-serif;
  font-size: 10px;
  color: #606060;
}

.sidebar-box:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-logo{
  height: 18px;
  width: 18px;
  margin-bottom: 6px;
}

.logo-wider {
  margin-bottom: 0px;
  margin-right: 24px;
}

.home-box {
  margin-top: 10px;
  background-color: rgb(235, 235, 235);
}

.home-logo{
  filter: invert(29%) sepia(96%) saturate(5742%) hue-rotate(353deg) brightness(90%) contrast(122%);
}

.home-span {
  font-weight: 500;
}

.font-larger{
  font-size: 14px;
  color: black;
}

.sidebar-wider {
  width: 240px;
}

.box-wider {
  width: 192px;
  height: 40px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.link-section-bot {
  margin-bottom: 12px;
}

.link-section-top {
  margin-top: 12px;
}

.div-line{
  height: 1px;
  width: 240px;
  background-color: lightgray;
}