
.profile-container {
  height: 100%;
  margin-left: 72px;
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
}

.profile-background-container {
  height: 250px;
  width: 100%;
}

.user-profile-container {
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
}

.profile-user-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 107px;
  margin-right: 24px;
}

.profile-user-btn-style {
  background-color: #4ad3da;
  text-align: center;
  font-size: 25px;
}

.user-profile-name {
  font-size: 24px;
  font-family: 'Roboto', Arial, sans-serif;
}

.user-profile-upload-container {
  margin-left: 40px;
  margin-top: 50px;
}

.video-upload-margin {
  margin-left: 50%;
}

@media only screen and (max-width: 1670px) {
  .video-upload-margin {
    margin-right: 24px;
  }
}

.user-profile-title {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  max-height: 2rem;
  margin-left: 20px;
}

.video-profile-index {
  margin-top: 20px;
}

.single-video-container {
  margin: 0px 8px 40px 8px;
  flex: 1 1 19%;
  min-width: 240px;
  max-width: 400px;
}

.edit-video-div {
  display: flex;
  justify-content: space-around;
}

.edit-video-btn {
  background-color: #2175f3;
  color: white;
  height: 2.5em;
  line-height: 2.5em;
  letter-spacing: 0.125em;
  padding: 0 2em;
  font-size: 0.8em;
  font-weight: 400;
  text-indent: 0.125em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

.edit-video-btn:hover {
  color: black;
}